*.lb
*.aux
*.log
*.sxc
*.synctex.gz
Single-Song.pdf
PfadiralalaIV-2.pdf
PfadiralalaIV-2.sbx
PfadiralalaIV-2.sxd
PfadiralalaIV-2.fdb_latexmk
PfadiralalaIV-2.fls
PfadiralalaIV.pdf
PfadiralalaIV.sbx
PfadiralalaIV.sxd
PfadiralalaIV.fdb_latexmk
PfadiralalaIV.fls
