*.lb
*.aux
*.log
*.sxc
*.sxd
*.sbx
*.synctex.gz
*.out
*.fls
*.pdf
*.html
PDFs
!Tutorial.pdf
.vscode
html
*.tmp
!Einband/export/*.pdf
Ausgaben/CompleteEdition.tex
Ausgaben/CompleteSortedEdition.tex
__latexindent_temp.tex
songlist.csv
