        body {
            font: normal 16pt Helvetica, Arial, sans-serif;
            padding: 40pt;
            width: 540pt;
        }
        object.sheet, svg {
            width: 100%;
        }
        header>h2 {
            font-size: 24pt;
            text-align: center;
        }
        h3 {
            font-size: 14pt;
            font-weight: bold;
        }
        div.verse {
            margin-top: 10pt;
            margin-right: 50pt;
            margin-bottom: 10pt;
            margin-left: 40pt;
        }
        div.verse>h3 {
            position: relative;
            display: inline;
            font-weight: normal;
            left: -40pt;
            top: 34pt;
        }
        div.chorus>h3 {
            position: relative;
            padding-left: 6pt;
            padding-bottom: 10pt;
        }
        div.verse>p, div.chorus>p {
            position: relative;
            font-size: 14pt;
            height: 20pt;
        }
        div.verse>p>span, div.chorus>p>span {
            position: relative;
            display: inline-block;
            width: 0pt;
            top: -12pt;
            font-weight: bold;
        }
        footer {
            margin-top: 30pt;
        }
        footer>h4 {
            font-size: 14pt;
            font-weight: normal;
            font-style: italic;
            margin-top: -16pt;
        }